body { background: black}

#button-north {
  border: none;
  background-color: white;
  display: inline-block;
  opacity: 0.2;
  width: 40px;
  height: 80px;
  position: absolute;
  left: 167px;
}
#button-south {
  border: none;
  background-color: white;
  display: inline-block;
  opacity: 0.2;
  width: 40px;
  height: 80px;
  position: absolute;
  top: 122px;
  left: 167px;
}
#button-east {
  border: none;
  background-color: white;
  display: inline-block;
  opacity: 0.2;
  width: 80px;
  height: 40px;
  position: absolute;
  top: 80px;
  left: 210px;
}
#button-west {
    border: none;
    background-color: white;
    display: inline-block;
    opacity: 0.2;
    width: 80px;
    height: 40px;
    position: absolute;
    top: 80px;
    left: 85px;
  }
#game-screen {
width: 375px;
height: 467px;
padding: 0;
margin: auto;
justify-content: center;
}
#start-screen {
  width: 375px;
  height: 467px;
  padding: 0;
  margin: auto;
  justify-content: center;
  }
#zombie-count{
  display: inline-block;
  padding: 5px;
  margin: 0;
  left: 10px;
  color: white;
}
#cat-count{
  padding-left: 5px;
  margin: 0;
  color: white;
}
#score{
  margin: 0;
  padding: 5px;
  float: right;
  position: relative;
  right: 50px;
  color: white;
}
#playgame {

position: relative;
left: -20px;
top: -185px;
padding: 20px;
border-radius: 12px;
background-color: red;
color: white;
border-style: none;
font-size: 16px;
font-weight: bolder;
}
#gamertag {
border: 1px red solid;
text-align: center;
font-size: 1em;
position: relative;
height: 35px;
width: 160px;
top: -250px;
left: 107px;
}
#bottom-container {
    background-image: url("images/controls.jpg"); 
    width: 375px;
    height: 200px;
    margin: auto;
    padding: 0;
    position: relative;
}
#first-screen{
  display: inline;
}
#second-screen{
  display: none;
}

#top-container {
position: relative;
padding: 0;
margin: auto;
height: 467px;
width: 375px;
overflow: hidden;

}
#bg-images{
  position: absolute;
  top: 0;
  left: 0;
  z-index:0;
}
#tree-images{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}